@model List<Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Projelerim</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Platform Görseli </th>
                                <th> Proje Adı </th>
                                <th> Ücret </th>
                                <th> Durum </th>
                                <th> Görseller </th>
                                <th> Tamamlanma Oranı </th>
                                <th> İşlem Seçiniz </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img class="bg-light" src="@item.Platform" alt="image" />
                                        @item.ProjectUrlTitle
                                    </td>
                                    <td> @item.Name </td>
                                    <td> @item.Price </td>

                                    @if (item.Status == true)
                                    {
                                        <td> Aktif </td>
                                    }
                                    else
                                    {
                                        <td> Pasif </td>
                                    }

                                    <td class="py-1">
                                        <img class="bg-light" src="@item.ImageUrl1" alt="image" />
                                        <img class="bg-light" src="@item.ImageUrl2" alt="image" />
                                        <img class="bg-light" src="@item.ImageUrl3" alt="image" />
                                        <img class="bg-light" src="@item.ImageUrl4" alt="image" />
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-auto-fix"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="/Portfolio/EditPortfolio/@item.PortfolioID"><i class="mdi mdi-lead-pencil"></i> Güncelle</a>
                                                <a class="dropdown-item" href="/Portfolio/DeletePortfolio/@item.PortfolioID"><i class="mdi mdi-delete"></i> Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Portfolio/AddPortfolio" class="btn btn-outline-info col-12 mt-3">Yeni Proje Ekle!</a>
                </div>
            </div>
        </div>
    </div>
</div>