@model List<WriterUser>

<div class="col-md-4 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Kayıt Olan Son 5 Kişi</p>
            <ul class="icon-data-list">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="d-flex">
                            <img src="@item.ImageUrl" alt="user">
                            <div>
                                <p class="text-info mb-1">@item.Name @item.Surname</p>
                                <p class="mb-0">@item.Email</p>
                                <small>@item.UserName</small>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>