@model List<About>

<div class="section pt-4 px-3 px-lg-4" id="about">
    <div class="container-narrow">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <h2 class="h4 my-2">@item.Title</h2>
                    <p>@Html.Raw(item.Description)</p>
                </div>
                <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100">
                    <img class="avatar img-fluid mt-2" src="@item.ImageUrl" width="400" height="400" alt="Efrun Evdi" />
                    <div class="row mt-3">
                        <div class="col-sm-2">
                            <div class="pb-1">Mail:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder">@item.Mail</div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">LinkedIn:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder"><a href="@item.Phone" target="_blank" class="text-warning text-decoration-none">Efrun Evdi</a></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Adres:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder">@item.Address</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
