@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deneyimlerim</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Görsel </th>
                                <th> Pozisyon </th>
                                <th> Firma Adı </th>
                                <th> Açıklama </th>
                                <th> Tarih </th>
                                <th> İşlem Seçiniz </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img class="bg-light" src="@item.ImageUrl" alt="image" />
                                    </td>
                                    <td> @item.Title </td>
                                    <td>@item.Name</td>
                                    <td> <textarea class="form-control bg-dark" rows="5" disabled>@item.Description</textarea> </td>
                                    <td> @item.Date </td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-auto-fix"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="/Experience/EditExperience/@item.ExperienceID"><i class="mdi mdi-lead-pencil"></i> Güncelle</a>
                                                <a class="dropdown-item" href="/Experience/DeleteExperience/@item.ExperienceID"><i class="mdi mdi-delete"></i> Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Experience/AddExperience" class="btn btn-outline-info col-12 mt-3">Yeni Deneyim Ekle!</a>
                </div>
            </div>
        </div>
    </div>
</div>