@model List<Contact>

<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    @foreach (var item in Model)
    {
        <div class="mt-3 px-1">
            <div class="h5">@item.Title</div>
            @Html.Raw(item.Description)
        </div>
        <div class="mt-53 px-1">
            <div class="row">
                <div class="col-sm-2">
                    <div class="pb-1">Email:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Mail</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">LinkedIn:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder"><a href="@item.LinkedIn" target="_blank" class="text-success text-decoration-none">Efrun Evdi</a></div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">GitHub:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder"><a href="@item.Github" target="_blank" class="text-info text-decoration-none">Efrun Evdi</a></div>
                </div>
            </div>
        </div>
    }
</div>
